{% extends 'index.html' %}
{% block content %}
    <form method="post">
        {% csrf_token %}
    <div class="mb-3">
        <label class="form-label">First number</label>
        <input type="number" class="form-control" id="firstNumber" name="firstNumber">
    </div>
    <div class="mb-3">
        <label class="form-label">Second number</label>
        <input type="number" class="form-control" id="secondNumber" name="secondNumber">
    </div>
    <button type="submit" class="btn btn-primary">subtraction </button>
    </form>

    <div class="mt-3">
        <label class="form-label">Result</label>
        <input type="text" class="form-control" value="{{ result }}" readonly>
    </div>

{% endblock %}